services:
  db:
    image: mariadb:10.6
    container_name: event-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: event_db
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - event-net

  web:
    image: php:8.1-apache
    container_name: event-web
    restart: always
    depends_on:
      - db
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    # ใส่ DNS 8.8.8.8 ของ Google เข้าไปตรงนี้เพื่อช่วยให้หา Gmail เจอ
    dns:
      - 8.8.8.8
      - 8.8.4.4
    environment:
      TZ: "Asia/Bangkok"
    command: >
      sh -c "apt-get update && apt-get install -y openssl libssl-dev
      && docker-php-ext-install pdo pdo_mysql 
      && apache2-foreground"
    networks:
      - event-net

  filemanager:
    image: filebrowser/filebrowser:latest
    container_name: event-filemanager
    restart: always
    ports:
      - "8099:80"
    volumes:
      - .:/srv
    # แก้ไขคำสั่งให้ No Password และไม่ต้องใช้ Database
    command: ["--root", "/srv", "--noauth", "--database", ""]
    networks:
      - event-net

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: event-phpmyadmin
    depends_on:
      - db
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
    networks:
      - event-net

networks:
  event-net:

volumes:
  db_data:
