services:
  db:
    image: mariadb:10.6
    container_name: event-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: event_db
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - event-net

  web:
    image: php:8.1-apache
    container_name: event-web
    restart: always
    user: "0:0"
    depends_on:
      - db
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    command: >
      sh -c "echo 'ServerName localhost' >> /etc/apache2/apache2.conf 
      && chown -R www-data:www-data /var/www/html 
      && chmod -R 755 /var/www/html
      && docker-php-ext-install pdo pdo_mysql 
      && apache2-foreground"
    networks:
      - event-net

  filemanager:
    image: filebrowser/filebrowser:latest
    container_name: event-filemanager
    restart: always
    user: "0:0"
    ports:
      - "8099:80"
    volumes:
      - .:/srv
      - ./filebrowser.db:/database.db
    command: ["--root", "/srv", "--noauth", "--database", "/database.db"]
    networks:
      - event-net

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: event-phpmyadmin
    depends_on:
      - db
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: rootpassword
    networks:
      - event-net

networks:
  event-net:

volumes:
  db_data:
