services:
  db:
    image: mariadb:10.6
    container_name: event-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: event_db
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - event-net

  web:
    image: php:8.1-apache
    container_name: event-web
    restart: always
    depends_on:
      - db
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    networks:
      - event-net

  filemanager:
    image: filebrowser/filebrowser:latest
    container_name: event-filemanager
    restart: always
    user: "0:0"
    ports:
      - "8099:80"
    volumes:
      - .:/srv  # ไฟล์เว็บจะอยู่ที่นี่
      # ย้าย database ไปเก็บใน volume ของ docker แทน เพื่อเลี่ยงปัญหา "is a directory"
      - fm_db:/database/ 
    networks:
      - event-net

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: event-phpmyadmin
    depends_on:
      - db
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
    networks:
      - event-net

networks:
  event-net:

volumes:
  db_data:
  fm_db: # เก็บฐานข้อมูลของ file manager แยกต่างหาก
