services:
  # 1. Database: MariaDB (ฐานข้อมูลหลัก)
  db:
    image: mariadb:10.6
    container_name: event-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: event_db
      TZ: Asia/Bangkok
    command: --default-time-zone="+07:00"
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - event-net

  # 2. phpMyAdmin: สำหรับจัดการฐานข้อมูลผ่าน Browser
  phpmyadmin:
    image: phpmyadmin:latest
    container_name: event-phpmyadmin
    restart: always
    depends_on:
      - db
    ports:
      - "8081:80"  # เข้าใช้งานผ่าน http://localhost:8081
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: rootpassword
      TZ: Asia/Bangkok
    networks:
      - event-net

  # 3. WordPress: หน้าลงทะเบียน (รันบนพอร์ต 8080)
  wordpress:
  #image: wordpress:latest
    build: 
      context: .
      dockerfile: Dockerfile-wp  # สร้างไฟล์แยกสำหรับ WordPress
    
    container_name: event-wp
    depends_on:
      - db
    ports:
      - "8080:80"
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: rootpassword
      WORDPRESS_DB_NAME: event_db
      # เพิ่มบรรทัดด้านล่างนี้
      PHP_INI_SCAN_DIR: /usr/local/etc/php/conf.d
    volumes:
      - ./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini 

    networks:
      - event-net

# 4. Scanner App: ระบบสแกน QR (Node.js) (รันบนพอร์ต 3000)
  scanner-app:
    build: ./scanner-app
    container_name: event-scanner
    restart: always
    ports:
      - "3001:3001"
    depends_on:
      - db
    networks:
      - event-net

networks:
  event-net:

volumes:
  db_data:
