services:
  db:
    image: mariadb:10.6
    container_name: event-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: event_db
    volumes:
      - db_data:/var/lib/mysql
    network_mode: "host"

  web:
    image: php:8.1-apache
    container_name: event-web
    restart: always
    user: "0:0"
    network_mode: "host"
    volumes:
      - .:/var/www/html
    command: >
      sh -c "chown -R www-data:www-data /var/www/html 
      && chmod -R 755 /var/www/html
      && docker-php-ext-install pdo pdo_mysql 
      && apache2-foreground"

  filemanager:
    image: filebrowser/filebrowser:latest
    container_name: event-filemanager
    restart: always
    user: "0:0"
    network_mode: "host"
    volumes:
      - .:/srv
      - ./filebrowser.db:/database.db  # เก็บข้อมูล User ไว้ในไฟล์เพื่อให้ Logout ได้
    # ตัด --noauth ออก เพื่อให้มีหน้า Login/Logout
    command: ["--root", "/srv", "--port", "8099", "--database", "/database.db"]

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: event-phpmyadmin
    network_mode: "host"
    environment:
      PMA_HOST: 127.0.0.1
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: rootpassword
    command: sh -c "sed -i 's/Listen 80/Listen 8081/' /etc/apache2/ports.conf && apache2-foreground"

volumes:
  db_data:
